# Environment variables
.env
.env.*

# temp file while working and testing the code
_working_files


# Ignore only the DB file
/database/financial_data.db
/database/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/

# uv package manager
__pypackages__/

# VSCode settings
.vscode/

# PyCharm
.idea/

# MacOS
.DS_Store

# feedback from Phillip
Phillip's feedback